/* Universal Styles */
body {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

/* Top bar container - make sure when scrolling that top bar remains in front of all passing elements */
.top-bar-container {
	z-index: 9999;
}

/* Grid container and it's sections below */
.grid-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Search results container */
#search-results {
    border: 2px solid black;
}

/* Main content container */
#main-container {
    border: 2px solid black;
}

.statistics {
    border: 0.5px solid black; /*gives buttons borders*/
}
.videos {
    border: 0.5px solid black;
}
.gifs {
    border: 0.5px solid black;
}

.team-name {
    text-align: center;
    margin-top: 20px;
    padding-left: 10px;
}

/* top headlines container */
.headline {
    border-bottom: 1px solid #000;
  }
  
#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 20px;
    }
      
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    }
      
#footer {
    background-color: #E6E6E6;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    }