/* Universal Styles */
body {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

/* Grid container and it's sections below */
.grid-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Search results container */
#search-results {
    height: 400px;
    border: 2px solid black;
}

/* Main content container */
#main-container {
    height: 400px;
    border: 2px solid black;
}

/* top headlines container */
#top-headlines {
    height: 400px;
    border: 2px solid black;
} 