/* Universal Styles */
body {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

/* Image container */
.image-container {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-image: url("../../assets/images/background-stadium-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Top bar container - make sure when scrolling that top bar remains in front of all passing elements */
.top-bar-container {
	z-index: 9999;
}

/* styling to the site title in navbar */
.site-title {
    font-weight: 700;
}

/* Grid container and it's sections below */
.grid-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.orbit {
    margin-top: 20px;
}

 /* gives buttons borders */
.statistics {
    border: 0.5px solid black;
}
.videos {
    border: 0.5px solid black;
}
.gifs {
    border: 0.5px solid black;
}

.team-name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.team-logo {
    padding: 5px;
}

.card-top-main, .card-bottom-main {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

/* styling the headers above each card section */
.matchups, .titles, .overview, .fixtures-header, .lineup-header {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* Aligns all text in containers in the center */
.secL, .secR, .secM, .secN {
    text-align: center;
    border: 1px solid black;
}

/* Team Logo sizing and spacing */
.logo-home {
    height: 25px;
    width: 25px;
    padding-right: 5px;
}

.logo-away {
    height: 25px;
    width: 25px;
    padding-left: 5px;
}

/* bottom right main container content spacing */
.match-type {
    margin-bottom: -7.5px;
}

.match-date {
    margin-bottom: 15px;
}
/* top headlines container */
.headline {
    border-bottom: 1px solid #000;
  }
  
#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 20px;
    }
      
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
    }
      
#footer {
    background-color: #E6E6E6;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    }